.home-container {
    display: flex;
    gap: 20px;
    margin: 20px;

}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #b2e6e4;

}


.header-container img {
    width: 100%;
    height: 300px;
    border-radius: 360px;
}